@use 'reset';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

// https://developer.spotify.com/documentation/general/design-and-branding/

// Spotify colors
$spotify-green: #1db954;
$spotify-white: #ffffff;
$spotify-black: #191414;

$background: $spotify-black;
$lighter-background: #1f1b1b;
$mid-gray: #888888;
$accent: $spotify-green;
$primary-color: $spotify-white;
$darker-primary-color: darken($primary-color, 10%);

$red: #c73e00;
$yellow: #d1cd17;
$blue: #176dd1;

$font: 'Poppins', sans-serif;

$page-padding-bottom-top: 3rem;
$grid-space: 1.5rem;
$h1-font-size: 2.7rem;

$main-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);

:root {
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: $font;
  color: $primary-color;
  background-color: $background;
  padding: $page-padding-bottom-top 6rem 0 6rem;
}

footer {
  text-align: center;
  color: #504e4e;
  font-weight: normal;
  font-size: 0.8rem;
  padding-top: $page-padding-bottom-top / 2 - 0.8 / 2;
  transition: 200ms;
  cursor: default;
  &:hover {
    color: #b3b3b3;
  }
}

a {
  color: unset;
  &:hover {
    color: $accent;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: calc(
    (100vh - 3 * #{$page-padding-bottom-top} - #{$h1-font-size}) / 2
  );
}

.column {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  &.left {
    flex: 0 0 60%;
    margin-right: $grid-space;
  }
}

.shadow-box {
  background-color: $lighter-background;
  border-radius: 0.3rem;
  padding: 2rem;
  box-shadow: $main-shadow;
}

h1 {
  font-size: $h1-font-size;
  font-weight: 600;
  text-align: center;
  padding-bottom: $page-padding-bottom-top;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 1rem;
  line-height: 1.2;
}

p {
  font-size: 0.9rem;
  line-height: 1.2;
}

.small-caps {
  text-transform: uppercase;
  font-weight: 600;
  color: $mid-gray;
  font-size: 0.72rem;
  padding: 1.3rem 0 0.6rem 0;
}

button {
  background-color: lighten($lighter-background, 10%);
  color: $primary-color;
  border: none;
  font-size: 0.8rem;
  font-family: $font;
  // font-weight: 500;
  border-radius: 3px;
  // height: 100%;
  cursor: pointer;
  transition-duration: 200ms;
  padding-left: 1rem;
  padding-right: 1rem;
  &:hover {
    background-color: lighten($lighter-background, 20%);
  }
  &:active {
    background-color: $accent;
  }
}

svg {
  overflow: visible;
}

.table-container {
  flex: 1 0 0;
  overflow-y: scroll;
}

table {
  overflow: auto;
  table-layout: fixed;
}
// thead {
//   border-bottom: 1px solid $mid-gray;
// }
th {
  @extend .small-caps;
  // TODO This?
  // https://stackoverflow.com/questions/14834198/table-scroll-with-html-and-css
  padding: 0 0 0.5rem 0;
  text-align: left;
  padding-right: 2rem;
}
// tr:nth-child(even) {
//   background-color: lighten($lighter-background, 4%);
// }
td {
  padding-right: 2rem;
  font-size: 0.9rem;
  padding-top: 0.6rem;
  // Limit to one line per row
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &:first-child {
    max-width: 15rem;
  }
  &:nth-child(2) {
    max-width: 9rem;
  }
}

.legend {
  li {
    font-size: 0.9rem;
    padding-bottom: 0.6rem;
    background-color: red;
    background-color: unset !important;
  }
}

.color-dot {
  $diam: 0.8rem;
  content: '';
  display: inline-block;
  width: $diam;
  height: $diam;
  border-radius: $diam / 2;
  margin-right: 0.5rem;
}

.tick {
  font-family: $font;
  font-size: 0.7rem;
}

.axis-label {
  fill: $primary-color;
  font-family: $font;
  font-size: 0.9rem;
}

#timeline-outer {
  height: 100%;
  display: flex;
  flex-direction: row;
}

#timeline {
  height: 100%;
  flex: 1;
}

/* #region parallel coord */
#parallel-coord-outer {
  height: 100%;
  margin-top: $grid-space;
  display: flex;
  flex-direction: row;
}

#parallel-coord {
  height: 100%;
  flex: 1;

  .axis-label {
    // cursor: ew-resize;
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
  }
  .line {
    fill: none;
    stroke: $accent;
    opacity: 0.3;

    &.inactive {
      visibility: hidden;
      // stroke: darken($lighter-background, 2%) !important;
    }
    &.active {
      opacity: 0.3;
      // stroke: $accent !important;
    }
    &.selected,
    &.hover {
      // stroke: red;
      stroke: white !important;
      stroke-width: 4px;
      opacity: 1;
      filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
    }
  }
}

.sidebar {
  height: 100%;
  flex: 0 0 12rem;
}

#list-container {
  height: 100%;
  flex-basis: 100%;
  flex: 0 0 25rem;
  display: flex;
  flex-direction: column;
}
/* #endregion */

.tooltip {
  position: absolute;
  font-size: 0.8rem;
  padding: 0.3rem;
  background: $spotify-black;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  box-shadow: $main-shadow;
}

#radar-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#song-info-data-container {
  height: 100%;
  flex: 1 0 35%;
}

#song-artist {
  margin-top: -0.5rem;
}

#radar-plot {
  height: 100%;
  flex-basis: 100%;
  text {
    fill: $primary-color;
    stroke-width: 0;
  }
  .axis-label {
    font-size: 0.75rem;
  }
  .shape {
    fill: rgba($accent, 0.3);
    stroke: $accent;
    stroke-width: 3px;
    stroke-linejoin: arc;
  }
}

//Color scheme taken from colorbrewer: https://colorbrewer2.org/#type=qualitative&scheme=Set1&n=8
#timeline {
  path.line-bpm {
    &:hover {
      stroke-width: 7px;
    }
  }
  path.line-nrgy {
    &:hover {
      stroke-width: 7px;
    }
  }
  path.line-dnce {
    &:hover {
      stroke-width: 7px;
    }
  }
  path.line-live {
    &:hover {
      stroke-width: 7px;
    }
  }
  path.line-val {
    &:hover {
      stroke-width: 7px;
    }
  }
  path.line-acous {
    &:hover {
      stroke-width: 7px;
    }
  }
  path.line-spch {
    &:hover {
      stroke-width: 7px;
    }
  }
  path.line-pop {
    &:hover {
      stroke-width: 7px;
    }
  }
}
