@use 'reset';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

// Spotify colors
$spotify-green: #1db954;
$spotify-white: #ffffff;
$spotify-black: #191414;

$background: $spotify-black;
$lighter-background: #1f1b1b;
$accent: $spotify-green;
$primary-color: $spotify-white;
$darker-primary-color: darken($primary-color, 10%);

$font: 'Poppins', sans-serif;

$page-padding-bottom-top: 3rem;
$h1-font-size: 3rem;

* {
  box-sizing: border-box;
}

body {
  font-family: $font;
  color: $primary-color;
  background-color: $background;
  padding: $page-padding-bottom-top 6rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  height: calc(100vh - 3 * #{$page-padding-bottom-top} - #{$h1-font-size});
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  // border: 1px solid red;

  &.right {
    // flex: 0 0 90%;
    // background-color: blue;
  }
  &.left {
    flex: 0 0 65%;
    margin-right: 1.5rem;
  }
}

.shadow-box {
  background-color: $lighter-background;
  border-radius: 0.3rem;
  padding: 2rem;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: $h1-font-size;
  font-weight: 600;
  text-align: center;
  padding-bottom: $page-padding-bottom-top;
}

#song-info {
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  color: $primary-color;
  font-size: 24px;
}

#timeline-outer {
  margin-bottom: 1.5rem;
  height: 50%;
}

#timeline {
  height: 100%;
}

#parallel-coord-outer {
  height: 50%;
}

#parallel-coord {
  height: 100%;

  .line {
    fill: none;
    // stroke: $accent;
    opacity: 0.3;

    &:hover {
      stroke: red;
      stroke-width: 3px;
      opacity: 1;
    }
  }
  // .dimension {
  //   stroke: $primary-color;
  // }
}

#radar-plot {
  text {
    fill: $primary-color;
    stroke-width: 0;
  }

  .shape {
    fill: $accent;
    // opacity: 0.3;
    opacity: 1;
  }
}

.axis-label {
  // stroke: $primary-color;
  fill: $primary-color;
  font-family: $font;
  font-size: 1rem;
}

//Color scheme taken from colorbrewer: https://colorbrewer2.org/#type=qualitative&scheme=Set1&n=8
#timeline{

  path.line-bpm{
      &:hover {
        stroke-width: 7px;
      }
    }
    path.line-nrgy{
      &:hover {
        stroke-width: 7px;
      }
    }
    path.line-dnce{
      &:hover {
        stroke-width: 7px;
      }
    }
    path.line-live{
      &:hover {
        stroke-width: 7px;
      }
    }
    path.line-val{
      &:hover {
        stroke-width: 7px;
      }
    }
    path.line-acous{
      &:hover {
        stroke-width: 7px;
      }
    }
    path.line-spch{
      &:hover {
        stroke-width: 7px;
      }
    }
    path.line-pop{
      &:hover {
        stroke-width: 7px;
      }
    }
}